

/* Main Design Begins Here */ 
html {
    background-color: #FFD599;
}

html header h1 {
    padding-top: 50px;
    font-weight: normal;
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-shadow: 2px 7px 5px black;  
         
}
html header img {
    float: left;
    margin: 20px 20px; 
    
  
}

.acc {
    height: 30px;
    position: absolute;
    margin-top: 70px;
    margin-left: 1460px;
}

/* Main Design Ends Here */ 

/* Content Design Begins Here*/ 
.top-container {
    margin: 30px auto;
    text-align: center;
    background-color: #EA9EA9;
    font-size: 25px;   
    height: 800px;
    width: 1200px;
    border: solid rgb(60, 4, 46) 1px;
    
}


.main-content {    
    display: block;
    float: left;
    background-color: #E5DBC3;
    height: 450px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    border: solid rgb(60, 4, 46) 1px;
}
.main-content p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 17px;
    line-height: 1;
}
.mainp {
    padding-top: 60px;
}
/* Content Design Ends Here */ 

/* Nav Design Begins Here*/

.main-nav li {
    list-style: none;
    float: left;
}
.main-nav a {
    color: rgb(60, 4, 46);
    background-color: #FFD599;
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
    border: solid rgb(60, 4, 46) 1px;
    font-size: 17px;
}
.main-nav a:hover {
    color: rgb(60, 4, 46);
    background-color: #E5DBC3;
}

.side-nav a {
    font-size: 15px;
    border: none;
    text-decoration: none;
    
}
.side-nav li {
    list-style: none;
    text-align: center;
    border: solid rgb(60, 4, 46) 1px;
    font-weight: bolder;
    padding: 3px;
    border-collapse: collapse;
    
   
}
.side-nav {
    float: left;
    position: absolute; 
    margin-left: 1400px;
    margin-top: 100px;
    text-align: center;  
    line-height: 25px;      
    border-collapse: separate;
}

.account-area {
   

}


/* Nav Design Ends Here*/

/* Price Table Design Begins Here*/
table {
    text-align: center;
    margin: 80px auto;
    border: solid rgb(16, 129, 129) 1px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
}

table th {
    background-color: rgb(242, 225, 149);
    font-size: 25px;     
}
table td {
    font-size: 20px;     
}
table tbody tr:nth-child(even) td {
    background-color: rgb(242, 225, 149);    
}
table th,
table td { 
    border: solid rgb(60, 4, 46) 1px;
    padding: 10px;
}
/* Price Table Design Ends Here*/

/* Contact Form Design Begins Here*/
input[type="email"],
input[type="text"],
input[type="tel"] {
    width: 60%;
    border: solid rgb(60, 4, 46) 1px;
    padding: 8px; 
    margin-top: 15px; 
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    border: solid rgb(60, 4, 46) 1px;
    box-shadow: inset 2px 2px 2px rgb(60, 4, 46);
}
textarea {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    border: solid rgb(3, 47, 3) 1px;   
}
textarea:focus {
    box-shadow: inset 2px 2px 2px rgb(60, 4, 46);
}
input[type="submit"]{
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 80px;
    font-size: 15px;
}
input[type="submit"]:hover {
    background-color: rgb(252, 182, 253);
}
/* Contact Form Design Ends Here*/

/* Footer Form Design Begins Here*/
footer {
    text-align: center;
    font-size: smaller;
}
/* Footer  Design Ends Here*/

/* Group Clear Floats Begins Here*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
/* Group Clear Floats Ends Here*/